<div class="text-success">
  <%= flash[:notice] %>
</div>

<div class="text-success">
  <%= flash[:alert] %>
</div>

<%= render 'list', book: @book_new, user: @book.user %>

<div>
  <table>
    <th><%= image_tag @book.user.get_profile_image(100,100) %><br>
        <%= link_to @book.user.name, @book.user  %>
        </th>
    <th><%= link_to @book.title %></th>
    <th><%= @book.body %></th>
    
    <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
    
    <% if @book.user == current_user %>
    <th><%= link_to "Destroy", book_path(@book), method: :delete %></th>
    <% end %>
  </table>
</div>


